img {
	float: left;
	width: 30%;
	height: 30%;
	margin: 10px;
}

.sidebar {
	float: right;
	background-color: skyblue;
	width: 30%;
	margin: 5px;
}

.column {
  width: 300px;
  float: left;
  margin: 3px;
}
